.Q_1, .Q_2, .Q_3, .Q_4 {
	border:2px outset pink;
	border-radius: 4%;
}

#bimage {
	width:100%;
	height:400px;
	background-image: url(https://1.bp.blogspot.com/-kKnpKSuEUro/Xr0neJ9EtvI/AAAAAAACPpQ/i4aykDdxb8EHpITdX_uU--A7VcvN2veiwCK4BGAsYHg/aravind_bolar__20200513_598.png);
	background-repeat: :no-repeat,repeat;	
}

a {
	color:#54e826;
	text-decoration: none;
}

a:visited {
	color: #000;
}

a:hover {
	color:#ea2424;
}

a:active {
	color:greenyellow;
}

.RCB_hide {
	visibility: hidden;
}

.element-visibility:hover + .RCB_hide {
	visibility: visible;
	color:red;
}

